<% layout("/layouts/boilerplate.ejs") %>

<body>
    &nbsp;
    <h4><i>Nature's Best Delivered Products,From Farm-to-Table Experience.</i></h4>
    <!-- <form method="GET" action="/products/new">
        <button>Add a product</button>
    </form> --> 
    &nbsp; &nbsp;
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2">
        <% for(let product of allProducts) { %>
            <a href="/products/<%= product.id %>" class="card-link">
            <div class="card col product-card">
                <img src="<%= product.image.url %>" class="card-img-top" alt="product_img"  style="height: 18rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=product.title %></b>
                        <br />
                            &#8377; <%= product.price.toLocaleString("en-IN") %> &nbsp; <span class="vary-price"><i>*Prices may vary as per quantity</i></span>
                    </p>
                </div>
            </div>
            </a> 
        <% } %>
    </div>
    

    <!-- <ul>
    <% for(let product of allProducts) { %>
        <li><a href="/products/<%= product.id %>"> <%=product.title %></a></li>
    <% } %>
    </ul> -->
</body>
